@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Noto+Sans+KR:wght@300;400;600;800&family=Open+Sans:wght@400;600&display=swap");

/* 공통코드 */
* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* body {
  height: 1000vh;
} */

input {
  border: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

a {
  border: none;
  color: var(--black-color);
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.select {
  color: var(--black-color);
}

/* 루트컬러 */
:root {
  --white-color: #ffffff;
}

:root {
  --black-color: #000000;
}

:root {
  --red-color: #ef6253;
}

:root {
  --greed-color: #41b979;
}

/* Top 스크롤 이동 */
.div__button--move-top-button {
  position: fixed;
}

/* header */
.body__header {
  width: 100%;
  height: 70px;
  position: fixed;
  overflow: hidden;
  background: var(--white-color);
  top: 0;
  left: 0;
  z-index: 20;
}

.header__div--header-wrap {
  width: 90%;
  height: 70px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.header__h1--logo img {
  font-size: 25px;
  width: 100px;
  text-align: center;
  margin: 10px 30px 0 0;
  line-height: 29px;
}

.header__nav {
  display: flex;
  margin-top: 200px;
}

.nav__ul--gnb {
  display: flex;
  gap: 20px;
}

.ul__li--main-menu {
  width: 60px;
  height: 20px;
  text-align: center;
  display: block;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 18px;
}

.ul__li--main-menu:hover {
  opacity: 0.7;
}

.ul__li--sub-menu {
  width: 60px;
  height: 20px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.ul__li--sub-menu:hover {
  opacity: 0.7;
}

.form__input--search-text {
  border-bottom: 1px solid;
  cursor: text;
}

.form__icon--search-button {
  cursor: pointer;
}

.header__div--icon {
  display: flex;
  gap: 30px;
  left: 0;
  align-items: center;
  margin-left: auto;
}

.div__button--user-button {
  font-size: 1.3em;
  transition: transform 0.3s ease;
}

.div__button--user-button:hover {
  transform: scale(1.1);
}

.div__button--cart-button {
  font-size: 1.4em;
  transition: transform 0.3s ease;
}

.div__button--cart-button:hover {
  transform: scale(1.1);
}

/* 유저 버튼 클릭시 나타나는 메뉴 */

.div__p--login-user-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.div__div--login-user-menu {
  position: absolute;
  display: block;
  top: 70px;
  right: 70px;
  display: none;
}

.div__button--login-user-info,
.div__button--login-user-order,
.div__button--login-user-logout {
  display: block;
  margin-bottom: 5px;
}

.div__button--login-user-info:hover,
.div__button--login-user-order:hover,
.div__button--login-user-logout:hover {
  opacity: 0.7;
}

/* index */
.body__div--index-content {
  width: 100%;
  margin-top: 70px;
}

.div__div--visual {
  width: 100%;
  height: 600px;
  background: var(--black-color);
  overflow: hidden;
}

.li__img--visualimg1 {
  width: 100%;
}

.div__div--visual-button {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 600px;
  z-index: 9;
}

.li__img--slide1 {
  width: 100%;
  height: 600px;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 5rem;
  opacity: 0.5;
}

.body__div--index-content-wrap {
  width: 90%;
  margin: 0 auto;
}

.div__div--best {
  width: 100%;
  height: 1000px;
}

.div__h2--title {
  font-size: 30px;
  margin: 100px 0 50px;
}

.div__div--best-product-img {
  width: 280px;
  height: 280px;
  border: 1px solid;
  background: var(--black-color);
}

.div__div--best-list {
  display: flex;
  justify-content: space-between;
}

.div__div--trending {
  width: 100%;
  height: 1000px;
}

.div__h2--trending-title {
  margin: 80px 0 50px;
  font-size: 30px;
}

.div__div--trend-wrap {
  display: flex;
  justify-content: space-between;
}

.div__div--trend-img-1,
.div__div--trend-img-2 {
  width: 600px;
  height: 600px;
  border: 1px solid;
  background: var(--black-color);
}

.div__div--trend-img-1:hover,
.div__div--trend-img-2:hover {
  opacity: 0.5;
}

.div__div--new {
  width: 100%;
  height: 1000px;
}

.div__h2--new-title {
  margin: 80px 0 50px;
  font-size: 30px;
}

.body__button {
  width: 50px;
  height: 50px;
  font-size: 16px;
  position: fixed;
  bottom: 20px;
  right: 70px;
  border-radius: 50px;
  border: 1px solid;
  background: var(--white-color);
  z-index: 10;
}

/* detail */
.body__div--detail-content {
  width: 100%;
  height: 800px;
  margin-top: 100px;
}

.div__div--info-flex {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.div__div--product-img {
  width: 600px;
  height: 600px;
  border: 1px solid;
}

.div__div--info-text {
  margin: 30px 0 0 20px;
}

.div__p--brand-name {
  font-size: 20px;
  font-weight: 500;
}

.div__p--product-name {
  font-size: 30px;
}

.div__p--price {
  font-size: 25px;
}

.div__select--select-style {
  width: 300px;
  height: 48px;
}

.form__input--purchase-button-style {
  width: 300px;
  height: 48px;
  display: block;
  border-radius: 10px;
  color: var(--white-color);
  background: var(--red-color);
  margin: 150px 0 10px 0;
}

.form__input--cart-button-style {
  width: 300px;
  height: 48px;
  border-radius: 10px;
  color: var(--white-color);
  background: var(--greed-color);
}

/* cart */
.body__div--cart-div-size {
  width: 100%;
  height: 800px;
  text-align: center;
  margin-top: 180px;
}

.div__h3--cart-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}

.div__div--cart-content-align {
  width: 80%;
  margin: 0 auto;
}

.div__div--select-display {
  display: flex;
}

.div__input--checkbox-style,
.div__p--select-all-text {
  text-align: start;
}
.div__p--select-all-text {
  display: flex;
  align-items: center;
}
.div__input--checkbox-style {
  margin-right: 10px;
}

.div__button--select-delete-button {
  margin-left: 20px;
  font-size: 16px;
}

.body__div--cart-div-content-flex {
  display: flex;
  height: 350px;
  width: 100%;
}

.div__div--cart-list-style {
  width: 800px;
  height: 350px;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;

  overflow: scroll;
}
.div__div--cart-list-style::-webkit-scrollbar {
  display: none;
}

/* 여기추가 */

/* checkbox custom */
.checkbox-container {
  position: relative;
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.cart-checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c2c2c2;

  cursor: pointer;
}

.checkbox-container > .checkmark > .fa-check {
  position: absolute;
  top: 8px;
  left: 10px;
}

.cart-checkbox:checked {
  background-color: #41b979;
}
/*  */
/* add item */
.div__div-cart-list-all-add {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 30px;
}

.div__div-cart-list-add {
  width: 100%;
  height: 100px;
}

.div__div-cart-list-add-item {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div__div-cart-list-add-item > img {
  width: 100px;
  height: 100px;
}

.div__div-cart-list-add-item-brand {
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
}

.div__div-cart-list-add-item-size {
  width: 50px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div__div-cart-list-add-item-price {
  width: 125px;
  height: 100px;
  display: flex;
  align-items: center;
}
.number {
  display: flex;
  border: 1px solid black;
}
.number button,
.number div {
  width: 25px;
  height: 25px;
}

.div__div-cart-list-add-item-delete i {
  width: 25px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

/*  */

.div__form--order-sheet-style {
  width: 350px;
  height: 250px;
  background: #fafafa;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div__p--product-amount-flex,
.div__p--delivery-fee-text-flex,
.div__p--total-payment-amount-flex {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.div__p--product-amount-flex {
  margin-top: 30px;
}

.div__p--delivery-fee-text-flex {
  margin-top: 30px;
}

.div__p--total-payment-amount-flex {
  margin-top: 80px;
}

.div__button--purchase-button-style {
  width: 350px;
  height: 60px;
  border-radius: 10px;
  background: var(--black-color);
  color: var(--white-color);
  margin-top: 203px;
}

.div__button--purchase-button-style:hover {
  opacity: 0.7;
}

/* delivery address */
.body__div--delivery-address-div-size {
  width: 100%;
  height: 600px;
  text-align: center;
  margin-top: 180px;
}

.form__label--delivery-address-title {
  font-size: 25px;
  font-weight: 600;
}

/* delivery address 추가수정중 */

.deliveryadress {
  width: 100%;
  height: 350px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
}

.deliveryadress__container {
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form__label--delivery-address,
.form__label--delivery-address-detail {
  width: 400px;
  height: 48px;
  border: 1px solid;
  border-radius: 10px;
}
/*  */
.div__button--purchase-completed-button-style {
  width: 400px;
  height: 48px;
  text-align: center;
  background: var(--black-color);
  color: var(--white-color);
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.div__button--purchase-completed-button-style:hover {
  opacity: 0.7;
}

/* login */
.body__div--login-content {
  width: 100%;
  height: 600px;
  text-align: center;
  margin-top: 180px;
}

.body__h3--login-logo {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

.form__label--text-hidden {
  display: none;
}

.form__input--login-id {
  margin-bottom: 10px;
}

.form__input--login-id,
.form__input--login-password {
  width: 400px;
  height: 48px;
  border: 1px solid;
  border-radius: 10px;
}

.form__input--login-button {
  width: 400px;
  height: 48px;
  border-radius: 10px;
  color: var(--white-color);
  background: var(--red-color);
  margin: 50px 0 10px 0;
}

.form__input--login-button:hover {
  opacity: 0.7;
}

.form__input--sign-up-button {
  width: 400px;
  height: 48px;
  border: 1px solid;
  border-radius: 10px;
  background: none;
  display: block;
  cursor: pointer;
  margin: 0 auto;
}

.form__input--sign-up-button:hover {
  color: var(--white-color);
  background: var(--black-color);
}

/* sign-up */
.form__input--signup-id,
.form__input--signup-password,
.form__input--signup-confirm-password,
.form__input--signup-name {
  width: 400px;
  height: 48px;
  border: 1px solid;
  border-radius: 10px;
}

.form__input--signup-password {
  margin: 10px 0;
}

.form__input--signup-name {
  margin: 10px 0 50px;
}

.form__input--signup-completed-button {
  width: 400px;
  height: 48px;
  border: 1px solid;
  border-radius: 10px;
  background: var(--greed-color);
  color: var(--white-color);
}

.form__input--signup-completed-button:hover {
  opacity: 0.7;
}

/* user */
.form__input--user-id,
.form__input--user-password,
.form__input--user-email {
  width: 400px;
  height: 48px;
  border: 1px solid;
  border-radius: 10px;
}

.form__input--user-password {
  margin: 10px 0;
}

.form__input--modify-button {
  margin: 50px 0 10px;
}

.form__input--modify-button {
  width: 400px;
  height: 48px;
  border: 1px solid;
  border-radius: 10px;
  background: var(--red-color);
  color: var(--white-color);
}

.form__input--modify-button:hover {
  opacity: 0.7;
}

.form__input--delete-account-button {
  width: 400px;
  height: 48px;
  border: 1px solid;
  border-radius: 10px;
  background: none;
  display: block;
  cursor: pointer;
  margin: 0 auto;
}

.form__input--delete-account-button:hover {
  color: var(--white-color);
  background: var(--black-color);
}

/* footer */
.body__footer {
  position: fixed;
  width: 100%;
  height: 250px;
  background: var(--black-color);
  color: var(--white-color);
  font-size: 14px;
}

.footer__div--wrap {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top: 80px;
}

.div__div--text {
  display: flex;
  justify-content: space-between;
}

.div__ul--footer-info {
  display: flex;
  gap: 30px;
}

.li__a--footer-info-list {
  color: var(--white-color);
}

.div__hr--footer-hr {
  margin: 30px 0;
  opacity: 0.7;
}

/* 관리자 페이지 : 카테고리 */

.body__div--category {
  width: 100%;
  height: 600px;
  margin-top: 170px;
}

.div__h3-category-title {
  text-align: center;
  margin-bottom: 80px;
}

.body__div--category-wrap {
  display: flex;
  width: 55%;
  margin: 0 auto;
  justify-content: space-around;
}
.div__div--category-list-title {
  text-align: center;
}

.div__div--category-list {
  width: 300px;
  height: 300px;
  border: 1px solid;
  border-radius: 15px;
}

.div__div--category-list-title {
  border-bottom: 1px solid;
  line-height: 36px;
  padding: 10px 0;
}

.div__div--category-list-data-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 242px;
  overflow: scroll;
  overflow-x: hidden;
}

.div__div--category-list-data-box::-webkit-scrollbar {
  display: none;
}

.div__div--category-list-data {
  display: flex;
  border-bottom: 1px solid;
  line-height: 16px;
  padding: 10px 0;
}

.div__form--category-form {
  display: flex;
  flex-direction: column;
}

.div__button--category-add-button {
  width: 100%;
  height: 48px;
  border-radius: 0 0 15px 15px;
  margin-top: auto;
  display: block;
  background: #000;
  border: none;
  color: #fff;
  cursor: pointer;
}

.div__button--category-add-button:hover {
  opacity: 0.7;
}

.div__div--category-info {
  width: 45%;
  padding-top: 50px;
}

.form__div--category-info-gap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.form__label--category-label {
  line-height: 48px;
}

.form__div--category-name {
  width: 220px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid;
  padding-left: 5px;
}

.form__div--category-select {
  width: 220px;
  height: 48px;
  border-radius: 10px;
}

.form__div--category-main-div {
  width: 220px;
  height: 48px;
  border-radius: 10px;
}

.form__button--category-button {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  margin-top: 40px;
  cursor: pointer;
  background: var(--red-color);
  color: var(--white-color);
}

.form__button--category-button:hover {
  opacity: 0.7;
}

.div__button--delete-button {
  width: 40%;
}

.div__div--blank {
  width: 20%;
}

.div__p--category-big-name-data {
  width: 40%;
}

.div__p--category-name-data {
  width: 40%;
}

.div__div--small-category {
  color: #9d9d9d;
  width: 20%;
  text-align: end;
}

/* user order list */
.body__div--orderList-content {
  width: 100%;
  height: 480px;
  text-align: center;
  margin-top: 90px;
}

.body__h3--orderList-logo {
  font-size: 30px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 45px;
}

.div__orderList--container {
  font-family: "Noto Sans KR", sans-serif;
  height: 390px;
  width: 100%;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: auto;
}

.div__orderList--header,
.div__orderList--order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.div__orderList--header {
  margin-bottom: 30px;
  padding: 0 5px;
  height: 30px;
}

.div__orderList--header div {
  font-size: 20px;
  justify-content: center;
}

.div__orderList--header div,
.div__orderList--order-column {
  font-weight: 400;
  width: 12%;
  text-align: center;
}

.div__orderList--header div:first-child {
  width: 16%;
}

.div__orderList--header div:nth-child(2) {
  width: 20%;
}

.div__orderList--order-column:nth-child(2) {
  width: 24%;
}

.div__orderList--header div:nth-child(4),
.div__orderList--order-column:nth-child(4) {
  width: 5%;
}

.div__orderList--header div:nth-child(5),
.div__orderList--order-column:nth-child(5) {
  width: 10%;
}

.div__orderList--contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div__orderList--order {
  border-top: 1px solid black;
  width: 96%;
  padding: 25px 5px;
}

.div__orderList--order-column:first-child {
  height: 165px;
  width: 165px;
  background-color: black;
}

/* ProductList */
.body__div--product-list-content {
  width: 100%;
  height: 2000px;
  margin-top: 180px;
}

.div__div--product-list-content-wrap {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.body__div--side-filter-menu {
  width: 150px;
  height: 400px;
  position: fixed;
  margin-top: 40px;
}

.div__div--product-list {
  width: 100%;
  height: 100px;
  text-align: center;
}

.div__div--shoes-title {
  margin-bottom: 40px;
}

/* Products */
.li__span--product-image {
  width: 200px;
  height: 200px;
  border: 1px solid;
  margin-bottom: 5px;
}

.ul__li--group-item {
  display: flex;
  flex-direction: column;
}

.li__span--product-brand {
  font-weight: 800;
}

.li__span--product-title {
  margin: 10px 0 25px 0;
}

.li__span--product-price {
  font-weight: bold;
  font-size: 20px;
}

.div__div--products {
  width: 85%;
  height: 100%;
  margin-left: 180px;
}

/* 상품 리스트 */
.div__div--list-product-img {
  width: 280px;
  height: 280px;
  border: 1px solid;
}

.div__div--list-brand-name {
  font-weight: 800;
}

.div__div--list-product-name {
  margin: 5px 0 10px;
  letter-spacing: -5%;
}

.div__div--list-product-price {
  font-size: 20px;
  font-weight: 800;
}

.div__div--list-flex {
  display: flex;
}
