.filebox .upload-name {
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 400px;
  color: #999999;
  margin-top: 8px;
}

.filebox label {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 30px;
  margin-left: 10px;
  margin-top: 8px;
}

.filebox input[type='file'] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  margin-top: 8px;
}

.filebox .img-number {
  position: absolute;
  margin-top: 8px;
  left: 10px;
}

.filebox .uploaded-name {
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 400px;
  color: #999999;
  margin-top: 8px;
  padding-left: 30px;
}

.filebox .btn-up,
.filebox .btn-down,
.filebox .btn-delete {
  display: inline-block;
  margin-left: 10px;
}
