@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Noto+Sans+KR:wght@300;400;600;800&family=Open+Sans:wght@400;600&display=swap');
/* user order list */
.body__div--orderList-content {
  width: 100%;
  height: 100vh;
  text-align: center;
  margin-top: 90px;
}

.body__h3--orderList-logo {
  font-size: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 45px;
}

.button__orderDelete {
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  text-align: center;
  color: red;
}

.div__orderList--container {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: auto;
}

.div__orderList--header,
.div__orderList--order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.div__orderList--header {
  margin-bottom: 30px;
  padding: 0 5px;
  height: 30px;
}

.div__orderList--header div {
  font-size: 20px;
  justify-content: center;
}

.div__orderList--header div,
.div__orderList--order-column {
  font-weight: 400;
  width: 12%;
  text-align: center;
}

.div__orderList--header div:first-child,
.div__orderList--header div:nth-child(2),
.div__orderList--order-column:nth-child(2) {
  width: 16%;
}

.div__orderList--order-column:nth-child(2) {
  width: 20%;
}

.div__orderList--header div:nth-child(4),
.div__orderList--order-column:nth-child(4) {
  width: 10%;
}

.div__orderList--header div:nth-child(5),
.div__orderList--order-column:nth-child(5) {
  width: 12%;
}

.div__orderList--header div:last-child,
.div__orderList--order-column:last-child {
  width: 12%;
}

.div__orderList--contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div__orderList--order {
  border-top: 1px solid black;
  width: 96%;
  padding: 25px 5px;
}

.div__orderList--order-column:first-child {
  /* height: 165px;
  width: 165px; */
  /* background-color: black; */
}

.body__div--userBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
}

.body__div--userBtn a {
  font-family: 'Noto Sans KR', sans-serif;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  margin: 0 5px;
}

.body__div--userBtn a:hover {
  border: 1px solid rgb(239, 98, 83);
  color: rgb(239, 98, 83);
}
